* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
}
.app {
  display: flex;
  width: 1200px;
  height: 600px;
}
.content-box {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
.side {
  display: flex;
  flex-grow: 0.5;
}
#contents {
  display: flex;
  flex-direction: row;
  flex-grow: 4;
  border: solid 1px #d2d2d2;
  margin-top: 5px;
}
.nav {
  width: 30%;
  flex-wrap: wrap;
  font-size: 20px;
  background-color: #f6f6f6;
}
.section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.filter-area {
  background-color: #d2d2d2;
}

#search-bar {
  display: flex;
  align-items: center;
  height: 50px;
}
#create-btn {
  display: flex;
  justify-content: flex-end;
  border-radius: 100%;
  background-color: #868e96;
  color: #ffffff;
  border: 0;
  outline: 0;
}

.to-dos {
  width: 70%;
  flex-wrap: wrap;
  font-size: 20px;
  margin-left: 20px;
}
#to-do-btn {
  border-radius: 20%;
}
.btn-area {
  display: flex;
  justify-content: space-between;
}
.font-size {
  font-size: 26px;
}
input[type="checkbox"] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 10px;
}
.margin {
  margin-left: 5px;
}
.row {
  display: flex;
}
.col {
  display: flex;
  flex-direction: column;
}
.input-box {
  border: none;
  background-color: transparent;
  font-size: 20px;
  margin-left: 10px;
}
/* input[class="cb"] + label {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #bcbcbc;
  cursor: pointer;
}
input[class="cb"]:checked + label {
  background-color: #666666;
}
input[class="cb"] {
  display: none;
} */
